<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:uap18="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
  IgnorableNamespaces="uap rescap desktop uap3 uap5 uap18">

	<Identity
	  Name="7fc8472b-de72-4abb-b77f-dd37af6f25da"
	  Publisher="CN=Dinara Denis"
	  Version="1.0.1.0" />

	<mp:PhoneIdentity PhoneProductId="7fc8472b-de72-4abb-b77f-dd37af6f25da" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>deRemind</DisplayName>
		<PublisherDisplayName>Dinara Denis</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$" uap18:TrustLevel="mediumIL" uap18:RuntimeBehavior="windowsApp">
			<uap:VisualElements
			  DisplayName="deRemind"
			  Description="deRemind - Smart Reminder Application"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
				<uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badgeAndTileText"/>
				<uap:InitialRotationPreference>
					<uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
			</uap:VisualElements>

			<Extensions>
				<desktop:Extension Category="windows.toastNotificationActivation">
					<desktop:ToastNotificationActivation ToastActivatorCLSID="C432E8D5-1CE5-4925-8583-1AFC0BDD5F6D" />
				</desktop:Extension>

				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:ExeServer Executable="deRemind\deRemind.exe" DisplayName="deRemind" Arguments="----AppNotificationActivated:">
							<com:Class Id="C432E8D5-1CE5-4925-8583-1AFC0BDD5F6D" />
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>

				<desktop:Extension Category="windows.startupTask">
					<desktop:StartupTask TaskId="deRemindStartupTask"
										Enabled="true"
										DisplayName="deRemind Background Service" />
				</desktop:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust"/>
	</Capabilities>

</Package>